@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400");

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/header";

@import "components/todoitem";
@import "components/todolist";

@import "pages/App.scss";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  background: $color-primary-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-primary-light;
}